    <div class="row">
        <div class="aboutTitle">
            <p>Hakkımızda</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="aboutText col-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna
            </div>

        </div>
     
    </div>
    <div class="row">

        <div class="socialTitle">
            <p>Sosyal Medya</p>
        </div>

        <div class="social col-12">
            <div class="col-3"><img src="~/Content/image/facebook.png" width="30" height="30" /> </div>
            <div class="col-3"><img src="~/Content/image/instagram.png" width="30" height="30" /> </div>
            <div class="col-3"><img src="~/Content/image/twitter.png" width="30" height="30" /> </div>
            <div class="col-3"><img src="~/Content/image/gmail.png" width="30" height="30" /> </div>
        </div>

    </div>
