
@section head
{
    <link href="~/Content/css/search.css" rel="stylesheet" />
}
    
<form action="" class="form-search">

    <div class="row">
        <div class="search col-12 ">
            <input type="text" class="searchTerm" placeholder="Makale Arama">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button>
        </div>
      
    </div>

</form>